.container {
    width: 300px;
    margin: 80px auto; /* Center the box with some margin */
    margin-top: 100px;
    padding: 80px;
    border: 1px solid #1a1717; /* Add a border with a light color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    background-color: rgb(209, 222, 222);

    .title {
        text-align: center;
        margin-bottom: 30px;
        margin-top: -30px;
        font-size: xx-large;
        color: #193571;
       
    }

    .inp {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .label {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #454040;
    }

    .button {
        background-color: aquamarine;
        margin-top: 15px;
        padding: 15px;

        &:hover{
            background-color: aqua;
        }
    }
}
  